@model List<NormalCommentModel>
<div id="commentAdd">
    @await Component.InvokeAsync("CommentAdd")
</div>
<div id="commentList">
    @foreach (var m in Model)
    {
    <div>
        @Html.DisplayFor(modelItem => m.Nikename)
        &nbsp在&nbsp
        @Html.DisplayFor(modelItem => m.CreatedOnStr)
        &nbsp说：&nbsp
    </div>
    <div>
        @Html.DisplayFor(modelItem => m.CommentText)
    </div>
    }
</div>