blog {

}
.blogListItem{
    position:static;
}
.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family:'Microsoft YaHei';
    font-weight:500;
    background-color:ivory;
}
.content {
    position: relative;
    overflow-x: visible;
}
.content-cover {
    max-height: 220px;
    overflow: hidden;
    background-size: cover;
    background-color: rgba(0, 0, 0, .1);
}
.publishedOn {
    float: right;
    display: inline;
}
.author {
    display: inline;
    width: 200px;
}
.tagList {

}
.leftList {
    float:left;
    width: 150px;
    font-size: 10px;
    font-family: 'Microsoft YaHei';
    top: inherit;
    height:inherit;
}
.blogList {
    margin-left: 180px;
}
.info {
    background-color: rgba(0, 0, 0, .1);
}
.operational {
    text-align: center;
    position: relative;
    z-index: 998;
    margin-top: -40px;
    height: 40px;
    background: -moz-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
    background: -webkit-gradient(linear,0 top,0 bottom,from(rgba(255,255,255,0)),to(#fff));
    background: -o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
}
.operational-displaynone {
    display:none;
}
.operational-btn {
    font-size: 12px;
    color: #de686d;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #3f82ca;
    line-height: 25px;
    min-width: 100px;
    text-align: center;
    padding: 0 20px;
    display: inline-block;
    height: 28px;
    white-space: nowrap;
    vertical-align: middle;
    margin: 0 auto;
}
