blog {

}
.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family:'Microsoft YaHei';
    font-weight:500;
}
.content {
    
}
.publishedOn {
    float: right;
    display: inline;
}
.author {
    float: left;
    display: inline;
    width: 200px;
}
.tagList {
    position: absolute;
    left: 10px;
    width: 150px;
    font-size: 10px;
    font-family: 'Microsoft YaHei';
    top:inherit;
}
.blogList {
    margin-left: 160px;
    padding: 10px;
}
