blog {

}
.blogListItem{
    position:static;
}
.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family:'Microsoft YaHei';
    font-weight:500;
    background-color:ivory;
}
.content {
    
}
.publishedOn {
    float: right;
    display: inline;
}
.author {
    display: inline;
    width: 200px;
}
.tagList {

}
.leftList {
    float:left;
    width: 150px;
    font-size: 10px;
    font-family: 'Microsoft YaHei';
    top: inherit;
    height:inherit;
}
.blogList {
    margin-left: 180px;
}
