@{
    ViewData["Title"] = "联系方式";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
</address>

<address>
    <strong>联系:</strong> <a href="mailto:rex_fa@163.com">rex_fa@163.com</a><br />
</address>
