@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "管理";
}
<div>
    <div>
        <a href="/Admin/CacheManager">缓存管理</a>
    </div>
    <div>
        <a href="/Admin/BannerManager">Banner管理</a>
    </div>
</div>
