@model IEnumerable<RBlogOnNetCore.Models.TagModel>
<table class="table">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.TagName, "List","Blog", new { TagId = item.Id }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNum)
            </td>
        </tr>
}
</table>
