@model RBlogOnNetCore.Models.BlogModel

<h4>BlogModel</h4>
<hr />
<div class="row">
    <div><!--这里可以限制宽度-->

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                @Html.TextAreaFor(model => model.Content)
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleasedOn" class="control-label"></label>
                <input asp-for="ReleasedOn" class="form-control" />
                <span asp-validation-for="ReleasedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>   
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="~/js/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="~/js/ckeditor/styles.js" type="text/javascript"></script>
<script src="~/js/jquery.tagsinput.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/css/jquery.tagsinput.css" />
<script>
    CKEDITOR.replace('Content');
    $('#Tags').tagsInput({
        //'autocomplete_url': url_to_autocomplete_api, //自动完成插件的文件地址，demo里有说明
        //'autocomplete': { option: value, option: value }, //自动完成插件的参数，demo有说明。（提供个jquery.autocomplete的：http://bassistance.de/jquery-plugins/jquery-plugin-autocomplete/）
        'height': '100px', //设置高度
        'width': '400px',  //设置宽度
        'interactive': true, //是否允许添加标签，false为阻止
        'defaultText': 'add a tag', //默认文字
        //'onAddTag': callback_function, //增加标签的回调函数
        //'onRemoveTag': callback_function, //删除标签的回调函数
        //'onChange': callback_function, //改变一个标签时的回调函数
        'removeWithBackspace': true, //是否允许使用退格键删除前面的标签，false为阻止
        'minChars': 0, //每个标签的小最字符
        'maxChars': 0, //每个标签的最大字符，如果不设置或者为0，就是无限大
        'placeholderColor' : '#666666' //设置defaultText的颜色
    });
</script>

